body {
    background: #f3f3f3 !important;
}

.shopping-cart {
    font-size: 25px;
    color: black;
}

.shopping-cart-count {
    position: relative;
    top: -12px;
    font-size: 10px !important;
}

.mt-20 {
    margin-top: 20px
}
