
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->
<!-- Mirrored from grandetest.com/theme/techno-html/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 14 Mar 2020 15:30:07 GMT -->
<head>
    <!-- Basic Page Needs -->
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Techno Store - Contact</title>

    <meta name="author" content="CreativeLayers">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Boostrap style -->
    <link rel="stylesheet" type="text/css" href="~/Content/Teknozag/stylesheets/bootstrap.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" type="text/css" href="~/Content/Teknozag/stylesheets/style.css">

    <!-- Reponsive -->
    <link rel="stylesheet" type="text/css" href="~/Content/Teknozag/stylesheets/responsive.css">

    <link rel="shortcut icon" href="favicon/favicon.png">

</head>
<body class="header_sticky">
    <div class="boxed">

        <div class="overlay"></div>

        <!-- Preloader -->
        <div class="preloader">
            <div class="clear-loading loading-effect-2">
                <span></span>
            </div>
        </div><!-- /.preloader -->



        <section id="header" class="header">
            <div class="header-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div id="logo" class="logo">
                                <a href="Hompage" title="">
                                    <img src="~/Content/Teknozag/images/logos/logo.png" alt="">
                                </a>
                            </div><!-- /#logo -->
                        </div><!-- /.col-md-3 -->
                        <div class="col-md-6">
                            <div class="top-search">
                                <form action="#" method="get" class="form-search" accept-charset="utf-8">
                                    <div class="cat-wrap">
                                       
                                            <p> Ürünü Giriniz</p>
                                            
                                        
                                        <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                        
                                        <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                    </div><!-- /.cat-wrap -->
                                    <div class="box-search">
                                        <input type="text" name="search" placeholder="Search what you looking for ?">
                                        <span class="btn-search">
                                            <button type="submit" class="waves-effect"><img src="~/Content/Teknozag/images/icons/search.png" alt=""></button>
                                        </span>
                                        <div class="search-suggestions">
                                            <div class="box-suggestions">
                                                <div class="title">
                                                    Arama Sonuçları
                                                </div>
                                                <ul>
                                                    <li>
                                                        <div class="image">
                                                            <img src="~/Content/Teknozag/images/product/other/s05.jpg" alt="">
                                                        </div>
                                                        <div class="info-product">
                                                            <div class="name">
                                                                <a href="#" title="">Razer RZ02-01071500-R3M1</a>
                                                            </div>
                                                            <div class="price">
                                                                <span class="sale">
                                                                    $50.00
                                                                </span>
                                                                <span class="regular">
                                                                    $2,999.00
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    
                                                </ul>
                                            </div><!-- /.box-suggestions -->
                                        </div><!-- /.search-suggestions -->
                                    </div><!-- /.box-search -->
                                </form><!-- /.form-search -->
                            </div><!-- /.top-search -->
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-3">
                            <div class="box-cart">
                                
                                <div class="inner-box">
                                    <a href="#" title="">
                                        <div class="icon-cart">
                                            <img src="~/Content/Teknozag/images/icons/cart.png" alt="">
                                            <span>4</span>
                                        </div>
                                        <div class="price">
                                            $0.00
                                        </div>
                                    </a>
                                    <div class="dropdown-box">
                                        <ul>
                                            @if (Session["Sepet"] != null)
                                            {
                                                ViewBag.sepetVeri = Session["Sepet"];
                                                foreach (var item in ViewBag.sepetVeri)
                                                {
                                                    <li>
                                                        <div class="img-product">
                                                            <img src="@item.u_OneCikar" alt="">
                                                        </div>
                                                        <div class="info-product">
                                                            <div class="name">
                                                                @item.u_Adi
                                                            </div>
                                                            <div class="price">
                                                                <span>1 x</span>
                                                                <span>$@item.u_Fiyat</span>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        
                                                    </li>
                                                    
                                                }

                                            }

                                        </ul>
                                        <div class="total">
                                            <span>Subtotal:</span>
                                            <span class="price">$1,999.00</span>
                                        </div>
                                        <div class="btn-cart">
                                            <a href="shop-cart.html" class="view-cart" title="">View Cart</a>
                                            <a href="shop-checkout.html" class="check-out" title="">Checkout</a>
                                        </div>
                                    </div>
                                </div><!-- /.inner-box -->
                            </div><!-- /.box-cart -->
                        </div><!-- /.sepet -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.header-middle -->
            <div class="header-bottom">
                <div class="container">
                    <div class="row">
                        
                            <div class="col-md-3 col-2">
                                <div id="mega-menu">
                                    <div class="btn-mega"><span></span>Tüm Kategoriler</div>
                                    <ul class="menu">
                                        
                                            <li>
                                                <a href="#" title="" class="dropdown">

                                                    <span class="menu-title">
                                                       laptop
                                                    </span>
                                                </a>

                                            </li>
                                     

                                    </ul>
                                </div>
                            </div><!-- /.col-md-3 col-2 -->
                      
                        <div class="col-md-9 col-10">
                            <div class="nav-wrap">
                                <div id="mainnav" class="mainnav">
                                    <ul class="menu">
                                        <li class="column-1">
                                            <a href="./Hompage" title="">Ana Sayfa</a>
                                        </li>
                                        <li class="column-1">
                                            <a href="shop.html" title="">Tüm Ürünler</a>
                                        </li>
                                        <li class="column-1">
                                            <a href="contact.html" title="">İletişim </a>
                                        </li>
                                    </ul><!-- /.menu -->
                                </div><!-- /.mainnav -->
                            </div><!-- /.nav-wrap -->
                            <div class="today-deal">
                                @if (Session["kullanici"] != null)
                                {

                                   
                              

                                    <a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Hesabım</a>

                                    <a href="Cikis" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Çıkış Yap</a>
                             
                                    }
                                    else
                                    {
                                    <a href="Giris" title="">Giriş Yap</a>
                                    }

                                </div><!-- /.today-deal -->
                            <div class="btn-menu">
                                <span></span>
                            </div><!-- //mobile menu button -->
                        </div><!-- /.col-md-9 col-10-->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.header-bottom -->
        </section><!-- /#header -->




    @RenderBody()


        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="widget-ft widget-about">
                            <div class="logo logo-ft">
                                <a href="index.html" title="">
                                    <img src="~/Content/Teknozag/images/logos/logo-ft.png" alt="">
                                </a>
                            </div><!-- /.logo-ft -->
                            <div class="widget-content">
                                <div class="icon">
                                    <img src="~/Content/Teknozag/images/icons/call.png" alt="">
                                </div>
                                <div class="info">
                                    <p class="questions">Got Questions ? Call us 24/7!</p>
                                    <p class="phone">Call Us: (888) 1234 56789</p>
                                    <p class="address">
                                        PO Box CT16122 Collins Street West, Victoria 8007,<br />Australia.
                                    </p>
                                </div>
                            </div><!-- /.widget-content -->
                            <ul class="social-list">
                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-google" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul><!-- /.social-list -->
                        </div><!-- /.widget-about -->
                    </div><!-- /.col-lg-3 col-md-6 -->
                    <div class="col-lg-3 col-md-6">
                        <div class="widget-ft widget-categories-ft">
                            <div class="widget-title">
                                <h3>Find By Categories</h3>
                            </div>
                            <ul class="cat-list-ft">
                                <li>
                                    <a href="#" title="">Desktops</a>
                                </li>
                                <li>
                                    <a href="#" title="">Laptops & Notebooks</a>
                                </li>
                                <li>
                                    <a href="#" title="">Components</a>
                                </li>
                                <li>
                                    <a href="#" title="">Tablets</a>
                                </li>
                                <li>
                                    <a href="#" title="">Software</a>
                                </li>
                                <li>
                                    <a href="#" title="">Phones & PDAs</a>
                                </li>
                                <li>
                                    <a href="#" title="">Cameras</a>
                                </li>
                            </ul><!-- /.cat-list-ft -->
                        </div><!-- /.widget-categories-ft -->
                    </div><!-- /.col-lg-3 col-md-6 -->
                    <div class="col-lg-2 col-md-6">
                        <div class="widget-ft widget-menu">
                            <div class="widget-title">
                                <h3>Customer Care</h3>
                            </div>
                            <ul>
                                <li>
                                    <a href="#" title="">
                                        Contact us
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="">
                                        Site Map
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="">
                                        My Account
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="">
                                        Wish List
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="">
                                        Delivery Information
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="">
                                        Privacy Policy
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="">
                                        Terms & Conditions
                                    </a>
                                </li>
                            </ul>
                        </div><!-- /.widget-menu -->
                    </div><!-- /.col-lg-2 col-md-6 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-ft widget-newsletter">
                            <div class="widget-title">
                                <h3>Sign Up To New Letter</h3>
                            </div>
                            <p>
                                Make sure that you never miss our interesting <br />
                                news by joining our newsletter program
                            </p>
                            <form action="#" class="subscribe-form" method="get" accept-charset="utf-8">
                                <div class="subscribe-content">
                                    <input type="text" name="email" class="subscribe-email" placeholder="Your E-Mail">
                                    <button type="submit"><img src="~/Content/Teknozag/images/icons/right-2.png" alt=""></button>
                                </div>
                            </form><!-- /.subscribe-form -->
                            <ul class="pay-list">
                                <li>
                                    <a href="#" title="">
                                        <img src="~/Content/Teknozag/images/logos/ft-01.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="">
                                        <img src="~/Content/Teknozag/images/logos/ft-02.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="">
                                        <img src="~/Content/Teknozag/images/logos/ft-03.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="">
                                        <img src="~/Content/Teknozag/images/logos/ft-04.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="">
                                        <img src="~/Content/Teknozag/images/logos/ft-05.png" alt="">
                                    </a>
                                </li>
                            </ul><!-- /.pay-list -->
                        </div><!-- /.widget-newsletter -->
                    </div><!-- /.col-lg-4 col-md-6 -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget widget-apps">
                            <div class="widget-title">
                                <h3>Mobile Apps</h3>
                            </div>
                            <ul class="app-list">
                                <li class="app-store">
                                    <a href="#" title="">
                                        <div class="img">
                                            <img src="~/Content/Teknozag/images/icons/app-store.png" alt="">
                                        </div>
                                        <div class="text">
                                            <h4>App Store</h4>
                                            <p>Available now on the</p>
                                        </div>
                                    </a>
                                </li><!-- /.app-store -->
                                <li class="google-play">
                                    <a href="#" title="">
                                        <div class="img">
                                            <img src="~/Content/Teknozag/images/icons/google-play.png" alt="">
                                        </div>
                                        <div class="text">
                                            <h4>Google Play</h4>
                                            <p>Get in on</p>
                                        </div>
                                    </a>
                                </li><!-- /.google-play -->
                            </ul><!-- /.app-list -->
                        </div><!-- /.widget-apps -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </footer><!-- /footer -->

        <section class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="copyright"> All Rights Reserved © Techno Store 2017</p>
                        <p class="btn-scroll">
                            <a href="#" title="">
                                <img src="~/Content/Teknozag/images/icons/top.png" alt="">
                            </a>
                        </p>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.footer-bottom -->

    </div><!-- /.boxed -->
    <!-- Javascript -->
    <script data-cfasync="false" src="~/Content/Teknozag/javascript/email-decode.min.js"></script>
    <script type="text/javascript" src="~/Content/Teknozag/javascript/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/Teknozag/javascript/tether.min.js"></script>
    <script type="text/javascript" src="~/Content/Teknozag/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/Teknozag/javascript/waypoints.min.js"></script>
    <script type="text/javascript" src="~/Content/Teknozag/javascript/jquery.circlechart.js"></script>
    <script type="text/javascript" src="~/Content/Teknozag/javascript/easing.js"></script>
    <script type="text/javascript" src="~/Content/Teknozag/javascript/jquery.zoom.min.js"></script>
    <script type="text/javascript" src="~/Content/Teknozag/javascript/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/Content/Teknozag/javascript/owl.carousel.js"></script>
    <script type="text/javascript" src="~/Content/Teknozag/javascript/smoothscroll.js"></script>
    <script type="text/javascript" src="~/Content/Teknozag/javascript/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Content/Teknozag/javascript/jquery.mCustomScrollbar.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAz77U5XQuEME6TpftaMdX0bBelQxXRlM&amp;callback=initMap" type="text/javascript"></script>

    <script type="text/javascript" src="~/Content/Teknozag/javascript/gmap3.min.js"></script>
    <script type="text/javascript" src="~/Content/Teknozag/javascript/waves.min.js"></script>
    <script type="text/javascript" src="~/Content/Teknozag/javascript/jquery.countdown.js"></script>

    <script type="text/javascript" src="~/Content/Teknozag/javascript/main.js"></script>

</body>

<!-- Mirrored from grandetest.com/theme/techno-html/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 14 Mar 2020 15:30:08 GMT -->
</html>
